.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;

  @media (max-width: 900px) {
    margin-left: 30px;
  }

  @media (max-width: 550px) {
    margin-left: 0;
    margin-top: 20px;
  }

  &--footer {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    @media (max-width: 1100px) {
      justify-content: center;
    }
    @media (max-width: 559px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: 350px) {
      align-items: center;
    }
  }
}

.contacts__group {
  display: flex;
  flex-direction: column;

  &--tel {
    @media (max-width: 350px) {
      text-align: center;
      margin-top: 15px;
    }
  }
}

.contacts__text {
  margin: 0;
  color: #ffffff;
  font-weight: 600;
}

.contacts__messengers {
  display: flex;

  @media (max-width: 950px) {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff4b;
    border: 1px solid #ffffff67;
  }
}

.contacts__link {
  display: block;
  transition: 0.5s;

  &--phone {
    font-size: 24px;
    line-height: 29px;
    color: #5D0303;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid #5D0303;
      border-top: 1px solid #5D0303;
    }

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &--messenger {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--call {
    display: none;

    @media (max-width: 1200px) {
      display: block;
      margin-right: 0;
      background-image: url("../img/svg/call.svg");

      &:hover {
        box-shadow: 0px 0px 25px 0px rgba(99, 4, 4, 0.8);
      }
    }
  }

  &--footer {
    display: block;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    &:hover {
      transition: 0.5s;
      color: #D70202;
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
    }
  }

  &--tm {
    background-image: url("../img/svg/tm.svg");

    &:hover {
      box-shadow: 0px 0px 25px 0px rgba(65,190,221,0.8);
    }
  }

  &--viber {
    background-image: url("../img/svg/viber.svg");

    &:hover {
      box-shadow: 0px 0px 25px 0px rgba(115,108,215,0.8);
    }
  }

  &--whatsapp {
    background-image: url("../img/svg/wapp.svg");
    &:hover {
      box-shadow: 0px 0px 25px 0px rgba(162,207,53,0.8);
    }
  }
}

.contacts__location,
.contacts__mail {
  display: flex;
  align-items: center;
}

.contacts__link--location {
  height: 100%;
  width: 100%;
}

.contacts__location {
  @media (max-width: 1100px) {
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
  @media (max-width: 350px) {
    text-align: center;
  }
}

.contacts__mail {
  @media (max-width: 1100px) {
    order: -1;
    margin-right: 30px;
  }

  @media (max-width: 559px) {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.contacts__icon {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;

  transition: 0.5s;
  cursor: pointer;

  @media (max-width: 350px) {
    display: none;
  }

  &:hover {
    transition: 0.5s;
    border: 2px solid #D70202;
  }

  &--map {  background-image: url("../img/svg/map-marker.svg");}
  &--mail {  background-image: url("../img/svg/mail-icon.svg");}
}

.contacts address {
  font-style: normal;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;

  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    color: #D70202;
  }
}
