.home--link {
  position: absolute;
  z-index: 111;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  transition: 0.5s;
  background-color: #D70202;
  border: 1px solid #82030A;

  &:hover {
    transition: 0.5s;
    transform: translateY(-10px);
    box-shadow: 0px 30px 38px -17px #000000;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;

    top: 55%;
    left: 10px;
    margin-top: -7px;
    border: solid #ffffff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(-135deg);
  }
}
