.services {
  margin-bottom: 70px;

  @media (max-width: 1110px) {
    margin-bottom: 45px;
  }

  @media (max-width: 750px) {
    margin-bottom: 30px;
  }
}

.services__list {
  @include list-style;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1230px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
