/* Слайдер */
.slick-slider {
  padding: 0 80px;
  height: 120px;
  position: relative;
}

.slick-list {
  overflow: hidden;
}

/* Стрелка */
.slider .slick-arrow {
  z-index: 100;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #0a2736;
  border-radius: 50%;
  font-size: 0;
}

.slider .slick-arrow::before {
  content: "";
  display: block;
  position: absolute;

  top: 50%;
  left: 18px;
  margin-top: -8px;
  border: solid #0a2736;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(135deg);
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
}

.slick-arrow.slick-next {
  right: 0;
  transform: rotate(180deg);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
}

/* Лента слайдов */
.slick-track {
  margin-top: 35px;
  display: flex;
}

/* Слайд */
.slick-slide {
  display: flex;
  height: 300px;
  justify-content: center;
}

/* Точки (булиты) */
.slick-dots {
  position: relative;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 1111;
  background-color: transparent;
}

.slick-dots li{
  list-style: none;
  margin: 0 11px;
}

/* Активная точка */
.slick-dots li.slick-active button{
  background: linear-gradient(180deg,#bdf040 0,#8bb32a 100%);
}

/* Элемент точки */
.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  border: 1px solid gray;
  background-color: transparent;
  cursor: pointer;
}

.slider__content {
  width: 200px;
  height: 120px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #3B3B3B;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95% 95%;

  &--abb {background-image: url("../img/partners/abb.svg");}
  &--dekraft {background-image: url("../img/partners/dekraft.svg");}
  &--dkc {background-image: url("../img/partners/dkc.svg");}
  &--ekf {background-image: url("../img/partners/ekf.svg");}
  &--eti {background-image: url("../img/partners/eti.svg");}
  &--hundai {background-image: url("../img/partners/hundai.svg");}
  &--iek {background-image: url("../img/partners/iek.svg");}
  &--legrand {background-image: url("../img/partners/legrand.svg");}
  &--schneider {background-image: url("../img/partners/schneider.svg");}
  &--tdm {background-image: url("../img/partners/tdm.svg");}
}
