/* Слайдер */
.slick-slider {
  padding: 0 80px;
  // height: 120px;
  position: relative;

  @media (max-width: 815px) {
    padding: 0;
  }
}

.slick-list {
  overflow: hidden;
}

/* Стрелка */
.slider .slick-arrow {
  z-index: 100;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #0a2736;
  border-radius: 50%;
  font-size: 0;

  transition: 0.5s;
  cursor: pointer;

  &:hover {
    transition: 0.5s;
    // box-shadow: inset 0px 0px 5px 0px #82030A
    box-shadow: 0px 0px 5px 0px #000000;
  }
}

.slider .slick-arrow::before {
  content: "";
  display: block;
  position: absolute;

  top: 50%;
  left: 19px;
  margin-top: -8px;
  border: solid #0a2736;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(135deg);
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
}

.slick-arrow.slick-next {
  right: 0;
  transform: rotate(180deg);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
}

/* Лента слайдов */
.slick-track {
  margin-top: 35px;
  display: flex;
}

/* Слайд */
.slick-slide {
  display: flex;
  // height: 300px;
  justify-content: center;

  @media (max-width: 650px) {
    width: 45%;
  }
}

/* Точки (булиты) */
.slick-dots {
  position: relative;

  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 111;
  background-color: transparent;
}

.slick-dots li{
  list-style: none;
  margin: 0 11px;

  @media (max-width: 400px) {
    margin: 0 5px;
  }
}

/* Активная точка */
.slick-dots li.slick-active button{
  background: linear-gradient(0deg, rgba(223,73,73,1) 19%, rgba(130,3,10,1) 91%);
}

/* Элемент точки */
.slick-dots li button {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  border: 1px solid #000000;
  background-color: transparent;
  cursor: pointer;
}

.slider__content {
  width: 200px;
  height: 120px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #3B3B3B;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95% 95%;

  @media (max-width: 650px) {
    width: 250px;
  }

  @media (max-width: 549px) {
    width: 99%;
  }

  &--abb {background-image: url("../img/partners/abb.svg");}
  &--dekraft {background-image: url("../img/partners/dekraft.svg");}
  &--dkc {background-image: url("../img/partners/dkc.svg");}
  &--ekf {background-image: url("../img/partners/ekf.svg");}
  &--eti {background-image: url("../img/partners/eti.svg");}
  &--hundai {background-image: url("../img/partners/hundai.svg");}
  &--iek {background-image: url("../img/partners/iek.svg");}
  &--legrand {background-image: url("../img/partners/legrand.svg");}
  &--schneider {background-image: url("../img/partners/schneider.svg");}
  &--tdm {background-image: url("../img/partners/tdm.svg");}
}
